{% extends "base.html" %}

{% block body %}

<div>
  <strong>FIXME</strong>: This is the view for the function <strong style="color: red;">showMajorX</strong>.
</div>

<div>
  <strong>FIXME</strong>: It serves the route <strong style="color: red;">/stu/showMajorX/<string:major></strong>.
</div>

{% endblock %}
